---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics
---

<Section title="Sobre mí">
    <p class="text-gray-600 text-sm leading-relaxed my-0 break-words">
        {summary}
    </p>
</Section>