---
import Layout from '../layouts/Layout.astro'

import Section from '@/components/Section.astro'
import About from '@/components/sections/About.astro'
import Education from '@/components/sections/Education.astro'
import Experience from '@/components/sections/Experience.astro'
import Skills from '@/components/sections/Skills.astro';
import Hero from '@/components/sections/Hero.astro'
import Projects from '@/components/sections/Projects.astro'
import KeyboardManager from '@/components/KeyboardManager.astro';

import { basics } from "@cv"

const { name, label } = basics

---

<Layout title=`Portfolio de ${name}`>
	<main class="p-16 w-full mx-auto">
		<Section>
			<Hero />
			<About />
			<Experience />
			<Education />
			<Skills />
			<Projects />
		</Section>
	</main>
	<KeyboardManager />
</Layout>